.flex {
  display: flex;
}
.col-dir {
  flex-direction: column;
}
.items-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.space-between {
  justify-content: space-between;
}
.uppercase {
  text-transform: uppercase;
}
.semibold {
  font-weight: bolder;
}
.mx-2 {
  margin-left: 1.2rem;
  margin-right: 1.2rem;
}
.sectionstyle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
}
.heading6 {
  font-size: 4.5rem;
  line-height: 2rem;
  padding-top: 1rem;
  margin: 0;
  margin-top: 3rem;
  color: rgb(32, 46, 115);
  font-weight: normal;
}
.para {
  font-size: 3rem;
  margin: 0;
  margin-top: 2.5rem;
  margin-bottom: 3rem;
  color: rgb(32, 46, 115);
}
.shadow-box img {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 4px 0px;
}
.grid-template1 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.grid-template1 img {
  width: 24.2rem;
  height: 25rem;
}
.grid-template2 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.grid-template2 img {
  width: 29rem;
}
.mt-50 {
  margin: 0;
  margin-top: 5rem;
}
@media screen and (max-width: 1368px) {
  html {
    font-size: 58%;
  }
  .offertag {
    top: 40rem;
  }
}
@media screen and (max-width: 1252px) {
  html {
    font-size: 55%;
  }
  .grid-template1 img {
    width: 22rem;
    height: 25rem;
  }
  .grid-template2 img {
    width: 25rem;
    height: 28rem;
  }
  .category img {
    width: 18rem;
  }
}
@media screen and (max-width: 1024px) {
  html {
    font-size: 48%;
  }
  .grid-template1 img {
    width: 22rem;
    height: 24rem;
  }
  .grid-template2 img {
    width: 26rem;
    height: 28rem;
  }
}
@media screen and (max-width: 968px) {
  .offerimage {
    grid-template-columns: repeat(4, 32rem);
    grid-template-rows: repeat(3, 11rem);
  }
  .offerimage img {
    height: 11.5rem;
    width: 32.5rem;
  }
  .grid-template1 img {
    width: 20rem;
    height: 22rem;
  }
  .grid-template2 img {
    width: 24rem;
    height: 26rem;
  }
  .category img {
    width: 17rem;
    height: 21rem;
  }
}
@media screen and (max-width: 868px) {
  html {
    font-size: 46%;
  }
  nav ul li {
    font-size: 1.2rem;
  }
  .offerimage {
    grid-template-columns: repeat(4, 27rem);
    grid-template-rows: repeat(3, 10rem);
  }
  .offerimage img {
    height: 10.5rem;
    width: 27.5rem;
  }
  .grid-template1 img {
    width: 18rem;
    height: 20rem;
  }
  .grid-template2 img {
    width: 20rem;
    height: 22rem;
  }
  .category img {
    width: 15rem;
    height: 21rem;
  }
}
@media screen and (max-width: 752px) {
  html {
    font-size: 44%;
  }
  .left .bars {
    display: block;
  }
  .left ul {
    display: none;
  }
  .offer {
    font-size: 1.4rem;
  }
  .offerimage {
    grid-template-columns: repeat(4, 22rem);
    grid-template-rows: repeat(3, 8rem);
  }
  .offerimage img {
    height: 8.5rem;
    width: 22.5rem;
  }
  .offertag {
    top: 32rem;
  }
  .grid-template1 img {
    width: 15rem;
    height: 20rem;
  }
  .grid-template2 {
    grid-template-columns: repeat(5, 1fr);
  }
  .grid-template2 img {
    width: 18rem;
    height: 20rem;
  }
  .category {
    grid-gap: 1.3rem;
  }
  .category img {
    width: 13rem;
    height: 19rem;
  }

  .category img:nth-last-child(-n + 3) {
    transform: translateX(4rem);
  }
}
@media screen and (max-width: 600px) {
  html {
    font-size: 40%;
  }
  .right .search-bar input {
    width: 22rem;
  }
  .offer {
    width: 100%;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
  }
  .offerimage {
    grid-template-columns: repeat(4, 18rem);
    grid-template-rows: repeat(3, 6rem);
  }
  .offerimage img {
    height: 6.5rem;
    width: 18.5rem;
  }
  .offertag {
    top: 30rem;
    right: -23rem;
    width: 23rem;
  }
  .heading6 {
    font-size: 4rem;
  }
  .para {
    font-size: 2rem;
  }
  .grid-template1 img {
    width: 13rem;
    height: 17rem;
  }

  .grid-template2 img {
    width: 16rem;
    height: 20rem;
  }
  .category {
    grid-gap: 1.2rem;
  }
  .category img {
    width: 10rem;
    height: 16rem;
  }

  .category img:nth-last-child(-n + 3) {
    transform: translateX(4rem);
  }
}

@media screen and (max-width: 500px) {
  html {
    font-size: 36%;
  }
  .container {
    width: 100%;
  }
  .search-bar {
    box-shadow: none;
    background-color: transparent;
  }
  .search-bar > i {
    font-size: 2rem;
  }
  .right .search-bar input {
    display: none;
  }
  .offerimage {
    grid-template-columns: repeat(4, 15rem);
    grid-template-rows: repeat(3, 4rem);
  }
  .offerimage img {
    height: 4.5rem;
    width: 15.5rem;
  }
  .offertag {
    top: 30rem;
    right: -23rem;
    width: 23rem;
  }
  .heading6 {
    font-size: 3.8rem;
  }
  .para {
    font-size: 1.8rem;
  }
  .grid-template1 {
    grid-template-columns: repeat(4, 1fr);
  }
  .grid-template1 img {
    width: 16rem;
    height: 20rem;
  }
  .grid-template1 img:nth-last-child(-n + 2) {
    display: none;
  }
  .grid-template2 {
    grid-template-columns: repeat(3, 1fr);
  }
  .grid-template2 img {
    width: 20rem;
  }
  .category {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-gap: 1.3rem;
  }
  .category img {
    width: 11rem;
    height: 16rem;
  }
  .category img:nth-child(31) {
    grid-area: 7/2/7/3;
  }
  .category img:nth-child(32) {
    grid-area: 7/3/7/4;
  }
  .category img:nth-child(33) {
    grid-area: 7/4/7/5;
  }
  .category img:nth-last-child(-n + 3) {
    transform: translateX(4rem);
  }
}
